/*zhangshiyao */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgba(246,246,246,1);
}

/*---------------我的小区页-----------------------*/
.community{
    width: 100%;
    height: 200px;
    display:-webkit-box;
    display:box;
    -webkit-box-orient: vertical;
}

.community .com_pic{
    -webkit-box-flex:6.0;
    box-flex:6.0;
    margin: 5px;
}

.community .com_wrap{
    -webkit-box-flex:1.0;
    box-flex:1.0;
    margin: 0px 5px 15px 5px;
    background-color: #ffffff;
}

.community .com_add{
    width: 100%;
    height: 100%;
    display:-webkit-box;
    display:box;
    -webkit-box-orient: horizontal;
}

.community .com_add .com_add_det{
    -webkit-box-flex:5.0;
    box-flex:5.0;
    text-align: left;
    font-size: 14px;
    color: rgba(45,45,45,1);
}

.community .com_add .com_add_det p{
    margin-left: 5px;
    margin-top: 15px;
}

.community .com_add .com_to_map{
    -webkit-box-flex:1.0;
    box-flex:1.0;
}

.community .com_add .com_to_map .fa.fa-map-marker{
    color: rgba(10,183,196,1);
}

.content{
    width: 100%;
    height: 300px;
    display:-webkit-box;
    display:box;
    -webkit-box-orient-group: horizontal;
}

.content .con_wrap{
    -webkit-box-flex:1.0;
    box-flex:1.0;
}

.content .con_wrap .con_wrap_v{
    width: 100%;
    height: 300px;
    display:-webkit-box;
    display:box;
    -webkit-box-orient: vertical;
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 14px;
}

.content .con_wrap .con_wrap_v .con_note{
    -webkit-box-flex:7.0;
    box-flex:7.0;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    color: #ffffff;
    background-color: rgba(241,93,93,1);
    margin: 0px 5px;

}

.content .con_wrap .con_wrap_v .con_adv{
    -webkit-box-flex:4.0;
    box-flex:4.0;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    color: #ffffff;
    background-color: rgba(75,193,210,1);
    margin: 5px 5px 0px 5px;
}

.content .con_wrap .con_wrap_v .con_eme,.content .con_wrap .con_wrap_v .con_hotl,.content .con_wrap .con_wrap_v .con_change{
    -webkit-box-flex:1.0;
    box-flex:1.0;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    color: #ffffff;
}

.content .con_wrap .con_wrap_v .con_eme{
    background-color: rgba(142,179,44,1);
    margin-right:5px;

}

.content .con_wrap .con_wrap_v a{
    color: #ffffff;
    text-decoration: none;
}

.content .con_wrap .con_wrap_v .con_hotl{
    background-color: rgba(242,137,35,1);
    margin: 5px 5px 0px 0px;
}

.content .con_wrap .con_wrap_v .con_change{
    background-color: rgba(235,190,10,1);
    margin: 5px 5px 0px 0px;
}

.navbar{
    width: 100%;
    height: 50px;
    border: 0px;
    margin:0;
    position:fixed;
    bottom: 5px;
}

.navbar ul{
    margin: 5px 0px auto 0px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top: 5px solid #fff;
}

.navbar li{
    margin: auto 0px;
    border: none;
    width: 25%;
    height: 100%;
    display: inline-block;
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 14px;
    float: left;
    position: relative;
    overflow: hidden;
}

.navbar li a{
    background-color: #fff;
    color:rgba(189,189,189,1);
    text-decoration: none;
    text-align: center;
}

.navbar li a.select{
    color: rgba(75,193,210,1);
}

/* ----------- 社区意见板页 --------------- */
.suggest{
    width: 100%;
    height: auto;
    margin: 0;
    display:-webkit-box;
    display:box;
    -webkit-box-orient: vertical;
}

.suggest .title{
    -webkit-box-flex:1.0;
    box-flex:1.0;
    background-color: #ffffff;
}

.suggest .title p{
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    width: 70%;
    border: none;
    text-align: center;
    margin: 0 auto;
    padding-right: 20px;
}

.suggest .title p .fa.fa-file-text{
    color: rgba(10,183,196,1);
    margin: 10px;
}

.suggest .content{
    -webkit-box-flex:9.0;
    box-flex:9.0;
    -webkit-box-pack:center;
}

.suggest .content .con_title,.help_wrap .con_title{
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
}

form{
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
}

form .part{
    background-color: #ffffff;
    margin: 0;
    border: none;
    padding: 8px 0;
}

form .part .label{
    width: 100%;
    height: 10px;
    border: none;
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 16px;
    margin: 5px;
}

form .part textarea{
    height: 70px;
}

form .type{
    margin-bottom: 10px;
}

form .part .ques_type{
    width: 75%;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
}

form input,form textarea{
    width: 95%;
    height: 30px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #cccccc;
    margin: 5px;
}

form .btn{
    width: 100%;
    text-align: center;

}

.submit{
    background-color: rgba(75,193,210,1);
    width: 70%;
    border: none;
    border-radius: 10px;
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.toast{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    position: absolute;
    top:180px;
    z-index: 1000;
}

.toast p.toast_text{
    font-size: 16px;
    font-family: "Microsoft Yehei", Helvatica, Arial, sans-serif;
    color: #ffffff;
    background-color: #777777;
    padding: 20px;
    border-radius: 10px;
}

.toast.success p.toast_text{
    width: 160px;
    height: 18px;
    left: 50%;
    margin-left: -80px;
    position: absolute;
}

.toast.fail p.toast_text{
    width: 200px;
    height: 18px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
}

/*----------- 反馈 -------------*/
.fb_wrap{
    width: 100%;
    height: auto;
}

.tips,.feedback textarea{
    width: 95%;
    margin:10px auto 10px auto;
    padding: 20px 5px;
    border: 1px solid #cccccc;
}

.tips{
    height: 30%;
}

.tips p,.fb_tl,.feedback textarea,.feedback a{
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 16px;
    color: #444444;
}

.feedback{
    width: 100%;
    height: auto;
    text-align: center;
}

.fb_tl{
    float: left;
    position: relative;
    margin-left: 10px;
    font-size: 18px;
}

.feedback textarea{
    height: 200px;
}

.feedback .submit{
    margin: 5px auto;
    height: 30px;
}

.feedback a {
    float: right;
    position: relative;
    color: rgba(75,193,210,1);
    margin-right: 15%;
    text-decoration: none;
}

/*-------------- help ---------------*/
.help_wrap{
    width: 100%;
    height: auto;
    overflow: auto;
}

.help_wrap .entry{
    width: 100%;
    height: auto;
    overflow: auto;
}

.help_wrap .con_list{
    width: 95%;
    border: none;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px auto;
}

.help_wrap .list{
    line-height: 20px;
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
    font-size: 16px;
    color: #444444;
    margin: 5px auto 5px 15px;
    padding: 10px auto;
}






















